<img src="https://bit.ly/2VnXWr2" width="100" align="left">

# Project | Demonstration of Data Cleaning and Manipulation with Pandas

## Import Useful Libraries

In [1]:
import os
import numpy as np
import pandas as pd
import random
import operator
import re
import math

## Read Data

In [2]:
data = pd.read_csv("/Users/Miguel/Documents/GitHub/Ironhack exercises/Modulo 1/project-pandas/your-code/data/Shark_Attack.csv", encoding= "ISO-8859-1", low_memory=False)

## Examine For Potential Issues

In [3]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [4]:
data.shape

(5992, 24)

### Missing Values

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [6]:
null_cols = data.isnull().sum(axis=0)

In [7]:
null_cols_percentage = null_cols [null_cols > 0]/5992*100
null_cols_percentage

Country                    0.717623
Area                       6.708945
Location                   8.277704
Activity                   8.795060
Name                       3.337784
Sex                        9.462617
Age                       44.742991
Injury                     0.450601
Fatal (Y/N)                0.317089
Time                      53.621495
Species                   48.965287
Investigator or Source     0.250334
href formula               0.016689
href                       0.050067
Unnamed: 22               99.983311
Unnamed: 23               99.966622
dtype: float64

In [8]:
null_col_indexes = list(null_cols_percentage [null_cols_percentage > 50].index)
null_col_indexes

['Time', 'Unnamed: 22', 'Unnamed: 23']

In [9]:
null_rows = data.isnull().sum(axis=1)

In [10]:
null_rows_percentage = null_rows [null_rows > 0]/24*100
null_rows_percentage

0       12.500000
1       12.500000
2       12.500000
3       20.833333
4       16.666667
          ...
5987    20.833333
5988    25.000000
5989    20.833333
5990    29.166667
5991    16.666667
Length: 5992, dtype: float64

In [11]:
data.shape

(5992, 24)

In [12]:

null_row_indexes = list(null_rows_percentage [null_rows_percentage > 50].index)
null_row_indexes

[]

In [13]:
data.shape

(5992, 24)

## Drop columns with more than 50% null values

In [14]:
data = data.drop(null_col_indexes, axis = 1)

In [15]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [16]:
data.shape

(5992, 21)

## Drop rows that are still missing more than 33.33% values

In [17]:
null_rows = data.isnull().sum(axis=1)

In [18]:
null_rows_percentage = null_rows [null_rows > 0]/21*100

In [19]:
null_row_indexes = list(null_rows_percentage [null_rows_percentage > 33.33].index)
null_row_indexes

[4746, 4806, 5794, 5856]

In [20]:
data = data.drop(null_row_indexes, axis = 0)

In [21]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [22]:
data.shape

(5988, 21)

## Check On Similarly Named Columns

### Drop rows with mistakes in href & href formula

In [23]:
href_differences = data[(data["href formula"] == data["href"]) == False]
href_mistakes = (href_differences[["href formula","href"]].index)
href_mistakes

Int64Index([  20,   27,   61,  107,  114,  134,  180,  193,  232,  262,  263,
             264,  271,  272,  293,  305,  323,  347,  361,  362,  363,  364,
             365,  367,  377,  378,  379,  380,  381,  382,  383,  384,  448,
             449,  823, 1217, 1218, 2274, 2477, 3019, 3549, 3603, 3917, 3928,
            4394, 4642, 4668, 4719, 5317, 5458, 5686, 5694, 5819, 5857],
           dtype='int64')

In [24]:
data = data.drop(href_mistakes)

In [25]:
data.shape

(5934, 21)

### Drop rows with mistakes in "Case" columns

In [26]:
case_differences = data[((data["Case Number"] == data["Case Number.1"]) & (data["Case Number.1"] == data["Case Number.2"]) == False)]
case_mistakes = (case_differences[["Case Number","Case Number.1","Case Number.2"]].index)
case_mistakes

Int64Index([4, 33, 97, 116, 121, 169, 3296, 3569, 3654, 4177, 5043, 5150], dtype='int64')

In [27]:
data = data.drop(case_mistakes)

In [28]:
data.shape

(5922, 21)

## Reorder Columns

In [29]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [30]:
column_order = ['Country', 'Area', 'Location', 'Year', 'Case Number', 'Case Number.1', 'Case Number.2', 'Date',
             'Type', 'Activity', 'Name', 'Sex ', 'Age','Injury', 'Fatal (Y/N)','Species ', 'Investigator or Source', 'pdf',
             'href formula', 'href', 'original order']
data = data[column_order]

In [31]:
data.head()

,Country,Area,Location,Year,Case Number,Case Number.1,Case Number.2,Date,Type,Activity,...,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,original order
0,USA,Florida,"New Smyrna Beach, Volusia County",2016,2016.09.18.c,2016.09.18.c,2016.09.18.c,18-Sep-16,Unprovoked,Surfing,...,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5993
1,USA,Florida,"New Smyrna Beach, Volusia County",2016,2016.09.18.b,2016.09.18.b,2016.09.18.b,18-Sep-16,Unprovoked,Surfing,...,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5992
2,USA,Florida,"New Smyrna Beach, Volusia County",2016,2016.09.18.a,2016.09.18.a,2016.09.18.a,18-Sep-16,Unprovoked,Surfing,...,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5991
3,AUSTRALIA,Victoria,Thirteenth Beach,2016,2016.09.17,2016.09.17,2016.09.17,17-Sep-16,Unprovoked,Surfing,...,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5990
5,AUSTRALIA,Western Australia,Bunbury,2016,2016.09.15.R,2016.09.15.R,2016.09.15.R,15-Sep-16,Boat,Fishing,...,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5988

## Rename Columns

In [32]:
data.columns

Index(['Country', 'Area', 'Location', 'Year', 'Case Number', 'Case Number.1',
       'Case Number.2', 'Date', 'Type', 'Activity', 'Name', 'Sex ', 'Age',
       'Injury', 'Fatal (Y/N)', 'Species ', 'Investigator or Source', 'pdf',
       'href formula', 'href', 'original order'],
      dtype='object')

In [33]:
data = data.rename(columns={"Fatal (Y/N)":"Fatal (Yes/No)",
                            "Species ":"Species",
                            "Sex ": "Sex"})
data.columns

Index(['Country', 'Area', 'Location', 'Year', 'Case Number', 'Case Number.1',
       'Case Number.2', 'Date', 'Type', 'Activity', 'Name', 'Sex', 'Age',
       'Injury', 'Fatal (Yes/No)', 'Species', 'Investigator or Source', 'pdf',
       'href formula', 'href', 'original order'],
      dtype='object')

## Extreme Values And Outliers

In [34]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Year,5922.0,1924.637791,287.999208,0.0,1942.00,1975.0,2003.00,2016.0
original order,5922.0,2984.889395,1720.461218,2.0,1497.25,2987.5,4469.75,5993.0

In [35]:
stats = data.describe().transpose()
stats["IQR"] = stats["75%"] - stats ["25%"]

In [36]:
outliers = pd.DataFrame(columns=data.columns)
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) |
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

C:\Users\Miguel\Anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [37]:
outliers

,Activity,Age,Area,Case Number,Case Number.1,Case Number.2,Country,Date,Fatal (Yes/No),Injury,...,Name,Outlier,Sex,Species,Type,Year,href,href formula,original order,pdf
4312,Swimming,NaN,Adana Province,1948.09.17.R,1948.09.17.R,1948.09.17.R,TURKEY,Reported 17-Sep-1848,Y,FATAL,...,Ali Kaymaz,Year,M,NaN,Unprovoked,1848,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1681,1948.09.17.R-Kaymaz.pdf
5755,Bathing,NaN,Lake Nicaragua (fresh water),1850.00.00,1850.00.00,1850.00.00,NICARAGUA,1850,Y,FATAL,...,NaN,Year,M,NaN,Unprovoked,1850,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,238,1850.00.00-LakeNicaragua.pdf
5756,NaN,NaN,New South Wales,1849.12.09,1849.12.09,1849.12.09,AUSTRALIA,09-Dec-1849,Y,FATAL,...,male,Year,M,NaN,Unprovoked,1849,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,237,1849.12.09-SydneyHarbour.pdf
5757,Bathing,NaN,New South Wales,1849.12.01,1849.12.01,1849.12.01,AUSTRALIA,01-Dec-1849,Y,FATAL,...,a sailor from the steamship Eagle,Year,M,NaN,Unprovoked,1849,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,236,1849.12.01-Sailor.pdf
5758,Swimming,NaN,Victoria,1849.09.19,1849.09.19,1849.09.19,AUSTRALIA,19-Sep-1849,Y,FATAL,...,a sailor from the schooner Brother,Year,M,NaN,Unprovoked,1849,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,235,1849.09.19-Brother-seaman.pdf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,Diving,NaN,Western Australia,ND.0005,ND.0005,ND.0005,AUSTRALIA,Before 1903,Y,FATAL,...,male,Year,M,NaN,Unprovoked,0,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6,ND-0005-RoebuckBay.pdf
5988,Pearl diving,NaN,Western Australia,ND.0004,ND.0004,ND.0004,AUSTRALIA,Before 1903,Y,FATAL,...,Ahmun,Year,M,NaN,Unprovoked,0,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5,ND-0004-Ahmun.pdf
5989,Swimming,NaN,North Carolina,ND.0003,ND.0003,ND.0003,USA,1900-1905,Y,FATAL,...,Coast Guard personnel,Year,M,NaN,Unprovoked,0,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4,ND-0003-Ocracoke_1900-1905.pdf
5990,NaN,NaN,NaN,ND.0002,ND.0002,ND.0002,PANAMA,1883-1889,Y,FATAL,...,Jules Patterson,Year,M,NaN,Unprovoked,0,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3,ND-0002-JulesPatterson.pdf
5991,Swimming,15,Eastern Province,ND.0001,ND.0001,ND.0001,CEYLON (SRI LANKA),1845-1853,Y,"FATAL. ""Shark bit him in half, carrying away t...",...,male,Year,M,NaN,Unprovoked,0,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2,ND-0001-Ceylon.pdf

## Low Variance Columns

In [38]:
low_variance = []
for col in data._get_numeric_data():
    minimum = min(data[col])
    ninety_percent = np.percentile(data[col], 90)
    if ninety_percent == minimum:
        low_variance.append(col)

In [39]:
print(low_variance)

[]

In [40]:
data = data.drop(low_variance, axis = 1)

In [41]:
data[low_variance].head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 5]

## Duplicates removal

In [42]:
data.columns

Index(['Country', 'Area', 'Location', 'Year', 'Case Number', 'Case Number.1',
       'Case Number.2', 'Date', 'Type', 'Activity', 'Name', 'Sex', 'Age',
       'Injury', 'Fatal (Yes/No)', 'Species', 'Investigator or Source', 'pdf',
       'href formula', 'href', 'original order'],
      dtype='object')

In [43]:
select_columns = ['Country', 'Area', 'Location', 'Year', 'Case Number', 'Case Number.1',
       'Case Number.2', 'Date', 'Type', 'Activity', 'Name', 'Sex', 'Age',
       'Injury', 'Fatal (Yes/No)', 'Species', 'Investigator or Source', 'pdf',
       'href formula', 'href', 'original order']
before = len(data)
data = data[select_columns].drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

## Data Type

In [44]:
data.dtypes

Country                   object
Area                      object
Location                  object
Year                       int64
Case Number               object
Case Number.1             object
Case Number.2             object
Date                      object
Type                      object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Yes/No)            object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
original order             int64
dtype: object

__After checking the Data Types I see there's no interesting results in the last three section's  methods as most variables are objects.__

## Remove columns I won't use

In [45]:
data=data.drop(['Case Number.1','Case Number.2','Area', 'Location', 'Type', 'Activity', 'Name',
       'Injury', 'Species', 'Investigator or Source', 'pdf','href', 'original order'], axis=1)
data.head()

,Country,Year,Case Number,Date,Sex,Age,Fatal (Yes/No),href formula
0,USA,2016,2016.09.18.c,18-Sep-16,M,16,N,http://sharkattackfile.net/spreadsheets/pdf_di...
1,USA,2016,2016.09.18.b,18-Sep-16,M,36,N,http://sharkattackfile.net/spreadsheets/pdf_di...
2,USA,2016,2016.09.18.a,18-Sep-16,M,43,N,http://sharkattackfile.net/spreadsheets/pdf_di...
3,AUSTRALIA,2016,2016.09.17,17-Sep-16,M,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_di...
5,AUSTRALIA,2016,2016.09.15.R,15-Sep-16,NaN,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_di...

## Remove unknown years

In [46]:
data = data[data.Year != 0]

## Fix Countries

### Countries hemispheres

In [47]:
# Keys with value 0 are in the northertn hemisphere while those with the value 1 are in the southern one

countries = {'CROATIA': 0, 'NORWAY': 0, 'FRANCE': 0, 'MARTINIQUE': 0, 'ICELAND': 0, 
            'JAVA': 1, 'Sierra Leone': 0, 'CYPRUS': 0, 'LIBERIA': 0, 'NEW BRITAIN': 1, 
            'URUGUAY': 1, 'NORTH ATLANTIC OCEAN ': 0, 'ADMIRALTY ISLANDS': 1, 
            'PAPUA NEW GUINEA': 1, 'DJIBOUTI': 0, 'TAIWAN': 1, 'EL SALVADOR': 0, 
            'ST. MAARTIN': 0, 'ASIA': 0, 'NAMIBIA': 1, 'OCEAN': 1, 'CAPE VERDE': 0, 
            'MID ATLANTIC OCEAN': 0, 'MAURITIUS': 1, 'ANTIGUA': 0, 'FRENCH POLYNESIA': 1, 
            'JOHNSTON ISLAND': 0, 'SUDAN': 0, 'SOUTH KOREA': 0, 'TUVALU': 1, 
            'SOUTH ATLANTIC OCEAN': 1, 'UNITED ARAB EMIRATES (UAE)': 0, 'DOMINICAN REPUBLIC': 0, 
            ' PHILIPPINES': 0, 'MALAYSIA': 0, 'BRITISH VIRGIN ISLANDS': 0, 'CHINA': 0, 
            'ATLANTIC OCEAN': 0, 'ITALY': 0, 'VENEZUELA': 0, 'SOLOMON ISLANDS / VANUATU': 1, 
            'SOUTH CHINA SEA': 0, 'Between PORTUGAL & INDIA': 2, 'DIEGO GARCIA': 1, 
            'MEDITERRANEAN SEA': 0, 'INDIAN OCEAN': 1, 'INDIA': 0, 'SOUTH AFRICA': 1, 
            'St Helena': 1, 'WESTERN SAMOA': 1, 'TASMAN SEA': 1, 'HONG KONG': 0, 'TONGA': 1, 
            'YEMEN': 0, 'COLUMBIA': 0, 'NORTHERN MARIANA ISLANDS': 0, 'GUAM': 0, 'GUINEA': 0, 
            'CENTRAL PACIFIC': 2, 'GUATEMALA': 0, 'FIJI': 1, 'GULF OF ADEN': 0, 'JAPAN': 0, 
            'MID-PACIFC OCEAN': 0, 'ST. MARTIN': 1, 'USA': 0, 'CRETE': 0, 'BRAZIL': 1, 
            'TURKS & CAICOS': 0, 'SOUTHWEST PACIFIC OCEAN': 1, 'GREENLAND': 0, 
            'BAY OF BENGAL': 1, 'PACIFIC OCEAN': 0, 'LEBANON': 0, 'MALTA': 0, 'NIGERIA': 0, 
            'GREECE': 0, 'MEXICO': 0, 'BERMUDA': 0, 'UNITED KINGDOM': 0, 'SINGAPORE': 0, 
            'BRITISH ISLES': 0, 'TURKEY': 0, 'NEVIS': 1, 'AUSTRALIA': 1, 'ENGLAND': 0, 
            'SIERRA LEONE': 0, 'VANUATU': 1, 'NORTH SEA': 0, 'RUSSIA': 0, 'MICRONESIA': 0, 
            'PORTUGAL': 0, 'RED SEA': 0, 'MONTENEGRO': 0, 'IRAQ': 0, 'SWEDEN': 0, 
            'PERSIAN GULF': 0, 'NORTH ATLANTIC OCEAN': 0, 'Fiji': 1, 'SLOVENIA': 0, 
            'PHILIPPINES': 0, 'IRAN / IRAQ': 0, 'TUNISIA': 0, 'SAN DOMINGO': 1, 'AZORES': 0, 
            'GEORGIA': 0, 'BURMA': 0, 'NEW GUINEA': 1, 'SUDAN': 0, 'NETHERLANDS ANTILLES': 0, 
            'ALGERIA': 0, 'NICARAGUA': 0, 'SEYCHELLES': 1, 'RED SEA': 0, 'BRITISH NEW GUINEA': 1, 
            'THAILAND': 0, 'PALESTINIAN TERRITORIES': 0, 'FALKLAND ISLANDS': 1, 'IRELAND': 0, 
            'MONACO': 0, 'PARAGUAY': 1, 'SYRIA': 0, 'EGYPT ': 0, 'MADAGASCAR': 1, 
            'NORTH PACIFIC OCEAN': 0, 'EGYPT / ISRAEL': 0, 'COOK ISLANDS': 1, 
            'TRINIDAD & TOBAGO': 0, 'PACIFIC OCEAN ': 0, 'EQUATORIAL GUINEA / CAMEROON': 0, 
            'ISRAEL': 0, 'SAMOA': 1, 'ECUADOR': 1, 'CARIBBEAN SEA': 0, 'NEW CALEDONIA': 1, 
            'MARSHALL ISLANDS': 0, 'PANAMA': 0, 'UNITED ARAB EMIRATES': 0, 'ITALY / CROATIA': 0, 
            'NEW ZEALAND': 1, 'MALDIVE ISLANDS': 0, 'GHANA': 0, 'MOZAMBIQUE': 0, 'SRI LANKA': 0, 
            'SOLOMON ISLANDS': 1, 'COAST OF AFRICA': 1, 'BARBADOS': 0, 'BANGLADESH': 0, 
            'CHILE': 1, 'CANADA': 0, 'HONDURAS': 0, 'PALAU': 0, 'AMERICAN SAMOA': 1, 
            'SAUDI ARABIA': 0, ' TONGA': 1, 'SPAIN': 0, 'ARGENTINA': 1, 'CURACAO': 0, 
            'ANDAMAN / NICOBAR ISLANDAS': 0, 'KENYA': 1, 'EGYPT': 0, 'THE BALKANS': 0, 
            'PUERTO RICO': 0, 'KIRIBATI': 0, 'OKINAWA': 0, 'REUNION': 1, 
            'BRITISH WEST INDIES': 0, 'NICARAGUA ': 0, 'FEDERATED STATES OF MICRONESIA': 0, 
            'IRAN': 0, 'CAYMAN ISLANDS': 0, 'SOMALIA': 0, 'INDONESIA': 1, 'KUWAIT': 0, 
            'Seychelles': 1, 'COSTA RICA': 0, 'INDIAN OCEAN': 1, 'CEYLON (SRI LANKA)': 0, 
            'YEMEN ': 0, 'HAITI': 0, 'SCOTLAND': 0, 'CUBA': 0, 'GUYANA': 0, 'LIBYA': 0, 
            'MEXICO ': 0, 'SENEGAL': 0, 'GRAND CAYMAN': 0, 'GABON': 1, 'GRENADA': 0, 
            'RED SEA / INDIAN OCEAN': 0, 'VIETNAM': 0, 'BAHAMAS': 0, 'BAHREIN': 0, 
            'NORTHERN ARABIAN SEA': 0, 'BELIZE': 0, 'MEDITERRANEAN SEA': 0, 'ANGOLA': 1, 
            'SOUTH PACIFIC OCEAN': 1, 'TANZANIA': 1, 'KOREA': 0, 'JAMAICA': 0, 'ARUBA': 0, 
            'MAYOTTE':1}

### Clean Country Column

In [48]:
data.Country.unique()

array(['USA', 'AUSTRALIA', 'NEW CALEDONIA', 'REUNION', 'BAHAMAS', 'CHINA',
       'JAPAN', 'SPAIN', 'COLUMBIA', 'SOUTH AFRICA', 'EGYPT',
       'NEW ZEALAND', 'INDONESIA', 'FRENCH POLYNESIA', 'CAPE VERDE',
       'Fiji', 'BRAZIL', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS',
       'UNITED ARAB EMIRATES', 'ARUBA', 'MOZAMBIQUE', 'THAILAND', 'FIJI',
       'PUERTO RICO', 'ITALY', 'MEXICO', 'ATLANTIC OCEAN', 'GREECE',
       'MAURITIUS', nan, 'ST. MARTIN', 'FRANCE', 'ECUADOR',
       'PAPUA NEW GUINEA', 'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA', 'TAIWAN',
       'JAMAICA', 'PALESTINIAN TERRITORIES', 'GUAM', 'SEYCHELLES',
       'BELIZE', 'PHILIPPINES', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'TRINIDAD & TOBAGO', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE',
       'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'COSTA RICA',
       'UNITED KINGDOM', 'MALAYSIA', 'UNITED ARAB EMIRATES (UAE)',
       'SAMOA', 'AZORES', 'SOLOMON ISLANDS', 'SOUTH KOREA', 'MALTA',
       'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS', 'CUBA',
       'ENGLAND', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN',
       'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN',
       'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'SINGAPORE',
       'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN',
       'NEW GUINEA', 'RED SEA', 'NORTH PACIFIC OCEAN',
       'FEDERATED STATES OF MICRONESIA', 'MID ATLANTIC OCEAN',
       'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN',
       'PERSIAN GULF', 'TURKEY', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI',
       'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'LIBYA', 'YEMEN ',
       'MEDITERRANEAN SEA?', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS',
       'EGYPT ', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA',
       'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'ALGERIA',
       'Coast of AFRICA', 'TASMAN SEA', 'GHANA', 'St Helena', 'GREENLAND',
       'MEDITERRANEAN SEA', 'SWEDEN', 'ICELAND',
       'Between PORTUGAL & INDIA'], dtype=object)

In [49]:
data["Country"] = data["Country"].str.upper()
data["Country"] = data["Country"].str.replace("^\s","")
data["Country"] = data["Country"].str.replace("?","")
data.loc[data["Country"].str.contains("OCEAN") == True, "Country"]= np.nan
data.loc[data["Country"].str.contains(" SEA") == True, "Country"]= np.nan
data.loc[data["Country"].str.contains("COAST") == True, "Country"]= np.nan
data.loc[data["Country"].str.contains(" SEA") == True, "Country"]= np.nan
data.loc[data["Country"] == "Y", "Country"]= np.nan
data.loc[data["Country"] == "N", "Country"]= np.nan
data["Country"].unique()

array(['USA', 'AUSTRALIA', 'NEW CALEDONIA', 'REUNION', 'BAHAMAS', 'CHINA',
       'JAPAN', 'SPAIN', 'COLUMBIA', 'SOUTH AFRICA', 'EGYPT',
       'NEW ZEALAND', 'INDONESIA', 'FRENCH POLYNESIA', 'CAPE VERDE',
       'FIJI', 'BRAZIL', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS',
       'UNITED ARAB EMIRATES', 'ARUBA', 'MOZAMBIQUE', 'THAILAND',
       'PUERTO RICO', 'ITALY', 'MEXICO', nan, 'GREECE', 'MAURITIUS',
       'ST. MARTIN', 'FRANCE', 'ECUADOR', 'PAPUA NEW GUINEA', 'KIRIBATI',
       'ISRAEL', 'DIEGO GARCIA', 'TAIWAN', 'JAMAICA',
       'PALESTINIAN TERRITORIES', 'GUAM', 'SEYCHELLES', 'BELIZE',
       'PHILIPPINES', 'NIGERIA', 'TONGA', 'SCOTLAND', 'TRINIDAD & TOBAGO',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'COSTA RICA', 'UNITED KINGDOM',
       'MALAYSIA', 'UNITED ARAB EMIRATES (UAE)', 'SAMOA', 'AZORES',
       'SOLOMON ISLANDS', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR',
       'PANAMA', 'SOMALIA', 'NEVIS', 'CUBA', 'ENGLAND',
       'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN',
       'GULF OF ADEN', 'SIERRA LEONE', 'ST. MAARTIN', 'GRAND CAYMAN',
       'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS', 'VENEZUELA',
       'SRI LANKA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'OKINAWA',
       'TANZANIA', 'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'HONG KONG',
       'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN',
       'TUNISIA', 'NAMIBIA', 'PORTUGAL', 'BANGLADESH', 'PALAU',
       'WESTERN SAMOA', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'SINGAPORE',
       'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'NEW GUINEA',
       'FEDERATED STATES OF MICRONESIA', 'ADMIRALTY ISLANDS',
       'BRITISH WEST INDIES', 'PERSIAN GULF', 'TURKEY', 'NICARAGUA ',
       'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS',
       'GABON', 'MAYOTTE', 'THE BALKANS', 'ARGENTINA', 'MARTINIQUE',
       'GUATEMALA', 'NETHERLANDS ANTILLES', 'NORTHERN MARIANA ISLANDS',
       'IRAN / IRAQ', 'JAVA', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'BAY OF BENGAL', 'SLOVENIA',
       'CURACAO', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'LIBYA', 'YEMEN ',
       'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ', 'BURMA',
       'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA', 'GEORGIA', 'SYRIA',
       'TUVALU', 'GUINEA', 'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS',
       'ALGERIA', 'GHANA', 'ST HELENA', 'GREENLAND', 'SWEDEN', 'ICELAND',
       'BETWEEN PORTUGAL & INDIA'], dtype=object)

In [50]:
data.dropna(how="any",subset=["Country"])

,Country,Year,Case Number,Date,Sex,Age,Fatal (Yes/No),href formula
0,USA,2016,2016.09.18.c,18-Sep-16,M,16,N,http://sharkattackfile.net/spreadsheets/pdf_di...
1,USA,2016,2016.09.18.b,18-Sep-16,M,36,N,http://sharkattackfile.net/spreadsheets/pdf_di...
2,USA,2016,2016.09.18.a,18-Sep-16,M,43,N,http://sharkattackfile.net/spreadsheets/pdf_di...
3,AUSTRALIA,2016,2016.09.17,17-Sep-16,M,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_di...
5,AUSTRALIA,2016,2016.09.15.R,15-Sep-16,NaN,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...
5861,BETWEEN PORTUGAL & INDIA,1580,1580.01.10.R,Letter dated 10-Jan-1580,M,NaN,Y,http://sharkattackfile.net/spreadsheets/pdf_di...
5863,FRANCE,1554,1554.00.00,Ca. 1554,M,NaN,UNKNOWN,http://sharkattackfile.net/spreadsheets/pdf_di...
5864,VENEZUELA,1543,1543.00.00,Ca. 1543,M,NaN,Y,http://sharkattackfile.net/spreadsheets/pdf_di...
5865,MEXICO,500,0500.00.00,Circa 500 A.D.,NaN,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_di...
5867,AUSTRALIA,5,0005.00.00,Ca. 5 A.D.,M,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_di...

In [51]:
data.sort_values(by="Country")
data.pivot_table(index="Country", aggfunc="size")

Country
ADMIRALTY ISLANDS              1
ALGERIA                        1
AMERICAN SAMOA                 3
ANDAMAN / NICOBAR ISLANDAS     1
ANGOLA                         1
                              ..
VENEZUELA                     10
VIETNAM                       12
WESTERN SAMOA                  1
YEMEN                          2
YEMEN                          7
Length: 167, dtype: int64

### Create Hemisphere Column

## Create Seasons Column

## Results And Export

In [52]:
data.head(20)

,Country,Year,Case Number,Date,Sex,Age,Fatal (Yes/No),href formula
0,USA,2016,2016.09.18.c,18-Sep-16,M,16,N,http://sharkattackfile.net/spreadsheets/pdf_di...
1,USA,2016,2016.09.18.b,18-Sep-16,M,36,N,http://sharkattackfile.net/spreadsheets/pdf_di...
2,USA,2016,2016.09.18.a,18-Sep-16,M,43,N,http://sharkattackfile.net/spreadsheets/pdf_di...
3,AUSTRALIA,2016,2016.09.17,17-Sep-16,M,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_di...
5,AUSTRALIA,2016,2016.09.15.R,15-Sep-16,NaN,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_di...
6,USA,2016,2016.09.11,11-Sep-16,M,60s,N,http://sharkattackfile.net/spreadsheets/pdf_di...
7,USA,2016,2016.09.07,07-Sep-16,F,51,N,http://sharkattackfile.net/spreadsheets/pdf_di...
8,NEW CALEDONIA,2016,2016.09.06,06-Sep-16,M,50,Y,http://sharkattackfile.net/spreadsheets/pdf_di...
9,USA,2016,2016.09.05.b,05-Sep-16,F,12,N,http://sharkattackfile.net/spreadsheets/pdf_di...
10,AUSTRALIA,2016,2016.09.05.a,05-Sep-16,M,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_di...
11,USA,2016,2016.09.04,04-Sep-16,M,9,N,http://sharkattackfile.net/spreadsheets/pdf_di...
12,USA,2016,2016.09.01,01-Sep-16,M,22,N,http://sharkattackfile.net/spreadsheets/pdf_di...
13,USA,2016,2016.08.29.b,29-Aug-16,M,25,N,http://sharkattackfile.net/spreadsheets/pdf_di...
14,USA,2016,2016.08.29.a,29-Aug-16,M,37,N,http://sharkattackfile.net/spreadsheets/pdf_di...
15,REUNION,2016,2016.08.27,27-Aug-16,M,20,N,http://sharkattackfile.net/spreadsheets/pdf_di...
16,USA,2016,2016.08.25,25-Aug-16,M,49,N,http://sharkattackfile.net/spreadsheets/pdf_di...
17,BAHAMAS,2016,2016.08.07,07-Aug-16,M,15,N,http://sharkattackfile.net/spreadsheets/pdf_di...
18,USA,2016,2016.08.06,06-Aug-16,M,21,N,http://sharkattackfile.net/spreadsheets/pdf_di...
19,USA,2016,2016.08.04,04-Aug-16,M,22,N,http://sharkattackfile.net/spreadsheets/pdf_di...
21,CHINA,2016,2016.07.28.R,28-Jul-16,M,72,N,http://sharkattackfile.net/spreadsheets/pdf_di...

In [53]:
data.shape

(5798, 8)

In [54]:
data.info

<bound method DataFrame.info of         Country  Year   Case Number            Date  Sex  Age Fatal (Yes/No)  \
0           USA  2016  2016.09.18.c       18-Sep-16    M   16              N
1           USA  2016  2016.09.18.b       18-Sep-16    M   36              N
2           USA  2016  2016.09.18.a       18-Sep-16    M   43              N
3     AUSTRALIA  2016    2016.09.17       17-Sep-16    M  NaN              N
5     AUSTRALIA  2016  2016.09.15.R       15-Sep-16  NaN  NaN              N
...         ...   ...           ...             ...  ...  ...            ...
5863     FRANCE  1554    1554.00.00        Ca. 1554    M  NaN        UNKNOWN
5864  VENEZUELA  1543    1543.00.00        Ca. 1543    M  NaN              Y
5865     MEXICO   500    0500.00.00  Circa 500 A.D.  NaN  NaN              N
5866        NaN    77    0077.00.00        77  A.D.    M  NaN              Y
5867  AUSTRALIA     5    0005.00.00      Ca. 5 A.D.    M  NaN              N

                                           href formula
0     http://sharkattackfile.net/spreadsheets/pdf_di...
1     http://sharkattackfile.net/spreadsheets/pdf_di...
2     http://sharkattackfile.net/spreadsheets/pdf_di...
3     http://sharkattackfile.net/spreadsheets/pdf_di...
5     http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                 ...
5863  http://sharkattackfile.net/spreadsheets/pdf_di...
5864  http://sharkattackfile.net/spreadsheets/pdf_di...
5865  http://sharkattackfile.net/spreadsheets/pdf_di...
5866  http://sharkattackfile.net/spreadsheets/pdf_di...
5867  http://sharkattackfile.net/spreadsheets/pdf_di...

[5798 rows x 8 columns]>

In [55]:
data.to_csv("cleaner_data.csv")